// font
$mainFont: 'Roboto', sans-serif;

// Color
$backgroundcolor: #fefefe;
$backgroundcolor-btn: #ffffff;

$main-color: #ffe550;
$accent-color: #bbf330;
$accent-dark: #7eb101;
$secondary-accent: #b5ff00;
$secondary-dark: #597d00;
$text-color: #2c2c2c;


$error: #ff705d;


$transitionTimFunc: cubic-bezier(0.4, 0, 0.2, 1);
$transitionDuration: 250ms;
