.hero__slider {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2c2c2c;
}

.hero__btn {
  cursor: pointer;
}
